.BorderCard{
    border: none !important;
}
.CardContainer{
    width: 45%;
    float: left;
    margin: 10px;
}
.ModalStyle{
    width: 150px;
}
.descricao{
    margin-left: 3%;
    font-size: 16px;
}
.CardContainerSala{
    width: 20%;
    float: left;
    margin: 10px;
}
.tamanhoFont{
    font-size: 14px;
}
.divAEsquerda{
    float: left;
    width: 100%;
}
.buttonEvento{
    border: none;
    background-color: #fff;
    color: red;
    float: right;
    font-size: 20px;
}
.buttonEvento:hover{
    background-color: red;
    color: #fff;
}
.verMaisEvent{
    width: 87%;
}
.verMaisEventAluno{
    width: 92%;
}
.campodescrição{
    border: 1px #BDBCBC solid;
    padding: 2%;
}
.cardInicio{
    height: 671px;
}
.card-item{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px !important
}
.loginStyle{
    width: 20%;
}
.menu{
    background: red;
    width: 50%;
}
.term-style{
    height: 25vh;
    overflow: auto;
}
.text-title{
    font-size: 20px;
    color: white
}
.card-item{
    width: 100%;
    height: 100%;
}
.body-inicio{
}
.text-title{
    display: block;
    color: white;
    font-weight: bold;
    height: 50px;
    transition: 3s;
    padding-right: 120px;
}
.text-titleR{
    display: block;
    color: white;
    font-weight: bold;
    height: 50px;
    transition: 3s;
    padding-right: 88px;
}
.displayNone{
    width: 3px;
    display: none;
}
.text-loja{
    background: black;
    position: relative;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 350px;
    border: 2px solid;
    border-radius: 0px 0px 50px 0px;
    transition: 2s
}
.text-lojaL{
    background: black;
    position: relative;
    left: 276px;
    bottom: 20px;
    height: 60px;
    width: 350px;
    border: 2px solid;
    border-radius: 0px 0px 0px 60px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: relative;
    right: 132px;
    display: flex;
    flex-direction: row-reverse;
}
.displaynone{
    display: none;
}
.displayblock{
    display: block !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 85%, 100% !important;
    border-radius: 10px;
    background-color: #908f8f !important;
    padding: 14px;
    width: 80px !important;
    height: 80px !important;
}
.inicioTexto{
    color: white;
    position: relative;
    bottom: 400px;
    font-size: 100px;
    text-shadow: 0.1em 0.1em 0.2em black; 
}
.imgLogin{
    width: 100%;
    height: 41.70em;
    position: absolute
}
.row{
    margin: 0px !important;
}
.buttonlogin{
    width: 30%
}
