.BorderCard{
    border: none;
}
.CardContainer{
    width: 45%;
    float: left;
    margin: 10px;
}
.ModalStyle{
    width: 150px;
}
.descricao{
    margin-left: 3%;
    font-size: 16px;
}
.CardContainerSala{
    width: 20%;
    float: left;
    margin: 10px;
}
.tamanhoFont{
    font-size: 14px;
}
.divAEsquerda{
    float: left;
    width: 100%;
}
.buttonEvento{
    border: none;
    background-color: #fff;
    color: red;
    float: right;
    font-size: 20px;
}
.buttonEvento:hover{
    background-color: red;
    color: #fff;
}
.verMaisEvent{
    width: 87%;
    margin-left: 3.5%;
}
.verMaisEventAluno{
    width: 92%;
    margin-left: 3.5%;
}
.campodescrição{
    border: 1px #BDBCBC solid;
    padding: 2%;
}
.cardInicio{
    height: 550px;
}